/**
 * Ding Borger.dk styles 
 * 
 * This includes styles required to make the response appear as specified by the 2010 HTML guideline
 * and attempts to remove any styles from Drupal themes which will be applied if tested locally.
 *
 * Styles defined here are injected into the Borger.dk API response as inline styles as Borger.dk
 * does not import stylesheets. This means that pseudo-classes (hover, after) etc. does not work.
 *
 * @TODO Improve separation of Drupal theme reset from actual styles.
 */

/* Reset Drupal theme styles */
.ding-borger-api-data * { text-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; text-transform: none; }
.ding-borger-api-data .form-button { padding-top: 0; }

/* Basic styles */
.ding-borger-api-data { padding: 15px; color: #333; font-family: Verdana, Arial, sans-serif; font-size: 11px; line-height: 15px; }
.ding-borger-api-data a { color: #618f11;  text-decoration: underline; }
.ding-borger-api-data a:hover { color: #ce4e2f; }
.ding-borger-api-data label { font-size: 11px; line-height: 15px; color: 333; font-weight: bold; color: #454c59; }
.ding-borger-api-data input { margin: 0; }

/* Tables */
.ding-borger-api-data table { clear: both; margin: 15px 0; border: 0 none; }
.ding-borger-api-data table caption { font-size: 15px; line-height: 18px; text-align: left; color: #454c59; font-weight: bold; }
.ding-borger-api-data table thead th { background-color: #fff; }
.ding-borger-api-data table td, 
.ding-borger-api-data table th { border: 0 solid #d6e2c2; border-width: 0 0 1px; padding: 10px 10px 10px 0; }
.ding-borger-api-data table th { color: #454c59; font-weight: bold; vertical-align: bottom; }
.ding-borger-api-data table .odd { background-color: #eef3e7; }

/* Forms */
.ding-borger-api-data .form-item { padding: 0; }
.ding-borger-api-data .form-autocomplete, 
.ding-borger-api-data .form-text, 
.ding-borger-api-data .form-textarea, 
.ding-borger-api-data .form-select { border: 1px solid #cdddb2; } 
.ding-borger-api-data .form-text { padding: 3px;}
.ding-borger-api-data .form-select option { padding: 2px 3px; } 

/* Error handling */
.ding-borger-api-data .form-item-error label { color: #CE4E2F; }
.ding-borger-api-data .form-item input.error, 
.ding-borger-api-data .form-item textarea.error, 
.ding-borger-api-data .form-item select.error { border: 1px solid #CE4E2F; } 

.ding-borger-api-data .container-inline-date .form-item input, 
.ding-borger-api-data .container-inline-date .form-item select, 
.ding-borger-api-data .container-inline-date .form-item option { margin-right: 0; }
.ding-borger-api-data .form-button { float: left; margin-right: 10px }
.ding-borger-api-data .form-button span,
.ding-borger-api-data .form-button input { display: block; height: 25px; }
.ding-borger-api-data .form-button span { padding-left: 15px; background: url(../images/button-sprites-left.png) bottom left no-repeat; }
.ding-borger-api-data .form-button input { padding: 2px 15px 2px 0; background: url(../images/button-sprites-right.png) bottom right no-repeat; color: #fff; text-transform: uppercase; border: 0 none; font-family: Arial, sans-serif; font-size: 11px; font-weight: bold; -moz-box-shadow: none; -moz-border-radius: 0; -webkit-box-shadow: none; -webkit-border-radius: 0;}
.ding-borger-api-data .form-button:hover span { background-position: top left; }
.ding-borger-api-data .form-button:hover input { background-position: top right; }

/* Messages */
.ding-borger-api-data .messages,
.ding-borger-api-data .ding-debts { margin: 5px 0; padding: 10px 15px; background-color: #5a850d; color: #fff; border: 1px solid #7fa533; -moz-border-radius: 0; }
.ding-borger-api-data .messages a,
.ding-borger-api-data .ding-debts a { color: #fff; }
.ding-borger-api-data .messages a:hover,
.ding-borger-api-data .ding-debts a:hover { color: #99ba34; }

/* Loans and reservations */
.ding-borger-api-data .ding-loans,
.ding-borger-api-data .ding-reservations {  margin: 15px 0; }

.ding-borger-api-data td.title img { display: none; }
.ding-borger-api-data td.image img { border: 1px solid #d6e2c2; }
.ding-borger-api-data td.loan_date,
.ding-borger-api-data td.due_date,
.ding-borger-api-data td.create_date,
.ding-borger-api-data td.valid_to { white-space: nowrap; }

/* Loan buttons */
.ding-borger-api-data .edit-renew-top,
.ding-borger-api-data .edit-renew-all-top { margin-bottom: 15px; }

/* Reservation buttons */
.ding-borger-api-data .update-controls { margin-bottom: 15px; }
.ding-borger-api-data .update-controls label { display: block; }
.ding-borger-api-data .update-controls .form-item { float: left; margin-left: 10px; margin-bottom: 15px; }
.ding-borger-api-data .update-controls .form-item .form-item { float: none; margin-left: 0; margin-bottom: 0; }
.ding-borger-api-data .update-controls .container-inline-date { margin-left: 0; margin-bottom: 0; }
.ding-borger-api-data .container-inline-date #edit-options-expiry-datepicker-popup-1 { width: 195px; }

/* Markupless clearing */
/* Clearing using :after not supported when injecting styles so do not include this for now.
.ding-borger-api-data .ding-loans,
.ding-borger-api-data .ding-reservations {  zoom: 1 }
.ding-borger-api-data .ding-loans:after,
.ding-borger-api-data .ding-reservations:after {  content: "."; display: block; height: 0; clear: both; visibility: hidden; } */
.ding-borger-api-data .ding-reservations { margin-top: 53px; } /* Double top margin + height of floating bottom loan buttons */
